%div.feature{ id: content[:id] }
  = stylesheet_link_tag "feature"
  - if content[:icon] || content[:heading] || content[:subheading]
    %div.feature-header
      = partial "layouts/heading", locals: { content: content }
  %div.feature-body
    - if content[:content]
      - if content[:content].kind_of?(String)
        = partial "layouts/elements/p", locals: { content: content[:content] }
      - else
        - content[:content].each do |item|
          - if item.kind_of?(Hash)
            = partial "layouts/display", locals: { content: item }

          - elsif item.kind_of?(Array)
            - columns = content[:columns] || 1
            = partial "layouts/list", locals: { items: item, columns: columns }

          - else
            = partial "layouts/elements/p", locals: { content: item }
    - if content[:img]
      = partial "layouts/elements/img", locals: { img: content[:img] }
