!!! 5
%html{ lang: "en" }
  = partial "partials/head"
  %body
    - if data[:navigation]
      = partial "partials/#{data[:navigation][:partial]}", locals: { content: data[:navigation] }
    = yield
    = partial "partials/tail"
