!!! 5
%html{ lang: "en" }
  = partial "layouts/head"

  %body
    - if data[:nav]
      = partial "layouts/#{data[:nav][:layout]}", locals: { content: content[:layout] }

    %div.content
      = yield

  = partial "layouts/tail"
